.navbar {
    opacity: 0.7;
    font: 16px/2em Lato, serif;
  }
  
  #primary-title {
    font-size: 1.5em;
  }
  
  body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    opacity: 0.5;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #main-container {
    height: 100%;
    margin: 26px auto;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    opacity: 0.8;
  }
  
  #profile-img {
    max-width: 128px;
    max-height: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 26px;
    clear: both;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  .nav-item-red {
    color: red;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
    #sidebar-options
    {
      display: none;
    }
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  .nav-link {
    cursor: pointer;
  }