<!-- Top nav bar-->
<nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" id="primary-title" routerLink="/employee">E-Office Suite</a>
        <button (click)="toggleCollapse()" class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div [class.show]="showMenu" class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-collapse">
                <div class="navbar-nav">
                    <div class="nav-item nav-link disabled" style="color: black">Date: {{currTime | date}}</div>
                    <div class="nav-item nav-link disabled" style="color: black">Time: {{currTime | date:'h:mm a'}}</div>
                </div>
                <div class="navbar-nav" id="sidebar-options">
                        <a [routerLink]="['./tasks']" class="nav-item nav-link">My Tasks</a>
                        <a [routerLink]="['./reservations/view_reservations']" class="nav-item nav-link"> Room Reservations</a>
                        <a [routerLink]="['./leave_requests']"
                        class="nav-item nav-link">Leave Requests</a>
                    </div>
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" routerLink="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="d-flex" id="wrapper">
    
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div *ngIf="currentUser" class="sidebar-heading">Welcome, {{currentUser.firstName}}!</div>
            <img src="assets/images/default_user_img.png" class="img-responsive" alt="" id="profile-img">
            <div class="list-group list-group-flush">
                <a [routerLink]="['./tasks']" class="list-group-item list-group-item-action bg-light">My Tasks</a>
                <a [routerLink]="['./reservations/view_reservations']" class="list-group-item list-group-item-action bg-light">Room Reservations</a>
                <a [routerLink]="['./leave_requests']"
                class="list-group-item list-group-item-action bg-light">Leave Requests</a>
            </div>
        </div>
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid"  style="height: 95%">
                <div class="bg-light" id="main-container">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    