<nav class="navbar navbar-expand-md navbar-light bg-light subcomponent-navbar">
    <a class="navbar-brand" routerLink="/employee/reservations/view_reservations">Room Reservations</a>
    <div class="navbar-collapse">
        <div class="navbar-nav">
            <div class="nav-item nav-link"><button class="btn btn-success" (click)="newReservation()">
                    <span class="fas fa-plus" style="margin-right: 8px"></span>Reserve Room
                </button></div>
            <div class="nav-item nav-link" [routerLink]="['./view_reservations']">My Reservations</div>
            <div class="nav-item nav-link" [routerLink]="['./view_rooms']">Rooms</div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
