*{
    max-width: 90vh;
    max-height: 90vh;
}

.add-user-form {
    font: 16px/2em Lato, serif;
}

.line-1 {
    float: left;
    width: 45%;
    margin-right: 8px;
}

.line-2 {
    float:left;
    width: 90%;
    margin: 8px;
}

	form[role=create] input,
    form[role=create] button,
    form[role=create] textarea {
		font-size: 18px;
        margin: 12px 8px; 
	}
	form[role=create] > div {
		text-align: center;
	}