<nav class="navbar navbar-expand-md navbar-light bg-light subcomponent-navbar">
    <a *ngIf="displayTraining" class="navbar-brand" routerLink="/admin/rooms">Training Rooms</a>
    <a *ngIf="!displayTraining" class="navbar-brand" routerLink="/admin/rooms">Meeting Rooms</a>
    <div class="navbar-collapse">
        <div class="navbar-nav">
            <div *ngIf="displayTraining" class="nav-item nav-link" (click)="toggleRoomType()">View Meeting Rooms</div>
            <div *ngIf="displayTraining" class="nav-item nav-link"><button class="btn btn-success"
                    (click)="openNewTrainingDialog()">
                    <span class="fas fa-plus" style="margin-right: 8px"></span>New Training Room
                </button></div>

            <div *ngIf="!displayTraining" class="nav-item nav-link" (click)="toggleRoomType()">View Training Rooms</div>
            <div *ngIf="!displayTraining" class="nav-item nav-link"><button class="btn btn-success"
                    (click)="openNewMeetingDialog()">
                    <span class="fas fa-plus" style="margin-right: 8px"></span>New Meeting Room
                </button></div>
        </div>
    </div>
</nav>
<alert></alert>
<div class="container-fluid table-responsive" id="wrapper">
    <table class="table-hover" style="width: 100%">
        <thead>
            <tr class="d-flex">
                <th style="width: 25%">Room</th>
                <th style="width: 15%">Capacity</th>
                <th style="width: 10%"></th>
                <th style="width: 20%">Projector?</th>
                <th style="width: 20%">Whiteboard</th>
            </tr>
        </thead>
        <tbody *ngIf="displayTraining">
            <tr *ngFor="let room of trainingRooms" class="d-flex">
                <td style="width: 25%" class="border-right">{{room.name}}</td>
                <td style="width: 15%" class="border-right">{{room.capacity}}</td>
                <td style="width: 10%"><a (click)="openDeleteTrainingRoomDialog(room)" class="btn btn-danger btn-small">
                        <span class="fas fa-trash"></span>
                    </a></td>
                <td style="width: 20%" class="border-right"> <span *ngIf="!room.projectorAvail" class="fas fa-times"></span><span *ngIf="room.projectorAvail"
                    class="fas fa-check"></span></td>
                <td style="width: 20%" class="border-right"><span *ngIf="!room.whiteboardAvail"
                    class="fas fa-times"></span><span *ngIf="room.whiteboardAvail" class="fas fa-check"></span></td>
            </tr>
        </tbody>
        <tbody *ngIf="!displayTraining">
            <tr *ngFor="let room of meetingRooms" class="d-flex">
                <td style="width: 25%" class="border-right">{{room.name}}</td>
                <td style="width: 15%" class="border-right">{{room.capacity}}</td>
            
                <td style="width: 10%"><a (click)="openDeleteMeetingRoomDialog(room)" class="btn btn-danger btn-small">
                        <span class="fas fa-trash"></span>
                    </a></td>
                <td style="width: 20%" class="border-right">
                        <span class="fas fa-minus"></span></td>
                <td style="width: 20%" class="border-right"><span class="fas fa-minus"></span></td>
            </tr>
        </tbody>
        <p *ngIf="displayTraining && trainingRooms==null" class="alert alert-danger">No training rooms found!</p>
        <p *ngIf="!displayTraining && meetingRooms==null" class="alert alert-danger">No meeting rooms found!</p>
    </table>
</div>