.subcomponent-navbar
{
    border-bottom:2px solid darkslategray;
}

.nav-link {
    cursor: pointer; 
}

td, th {
    margin-right: 6px;
    margin-left: 6px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa-check {
    color: green
}
 
.fa-times {
    color: red
}
