<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" id="primary-title" href="/admin">E-Office Suite</a>
    <button (click)="toggleCollapse()" class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [class.show]="show" class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/admin">Attendance</a>
                <a class="nav-item nav-link" routerLink="/admin">Tasks</a>
                <a class="nav-item nav-link" routerLink="/admin">Users</a>
                <a class="nav-item nav-link" routerLink="/admin">Complaints</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" routerLink="/logout">Logout</a>
            </div>
        </div>
    </div>

</nav>