<nav class="navbar navbar-expand-md navbar-light bg-light subcomponent-navbar">
        <a class="navbar-brand" id="primary-title" routerLink="/admin/users">Users</a>
        <div class="navbar-collapse">
            <div class="navbar-nav">
                <div class="nav-item nav-link"><button class="btn btn-success" (click)="openNewEmployeeDialog()">  <span class="fas fa-plus"></span>New User
                </button></div>
            </div>
        </div>
    </nav>
<alert></alert>
<div class="container-fluid table-responsive" id="wrapper">
    <table id="employee-table" class="table-hover" style="width: 100%">
        <thead>
            <tr class="d-flex">
                <th style="width: 11%">ID</th>
                <th style="width: 22%">Last Name</th>
                <th style="width: 22%">First Name</th>
                <th style="width: 12%"></th>
                <th style="width: 12%"></th>
                <th style="width: 21%">Dept.</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees" class="d-flex">
                <td style="width: 11%" (click)="openEditEmployeeDialog(employee, false)" class="border-right">{{employee.id}}</td>
                <td style="width: 22%" (click)="openEditEmployeeDialog(employee, false)" class="border-right">{{employee.lastName}}</td>
                <td style="width: 22%" (click)="openEditEmployeeDialog(employee, false)" class="border-right">{{employee.firstName}}</td>
                <td style="width: 12%" ><a (click)="openEditEmployeeDialog(employee, true)" class="btn btn-success btn-small">
                        <span class="fas fa-edit"></span>
                    </a></td>
                <td style="width: 12%"><a (click)="openDeleteEmployeeDialog(employee)" class="btn btn-danger btn-small">
                        <span class="fas fa-times"></span>
                    </a></td>
                <td style="width: 21%" class="border-right name-column" (click)="openEditEmployeeDialog(employee, false)">{{employee.dept?.departmentName}}</td>
            </tr>
            <p *ngIf="employees==null" class="alert alert-danger">No employees found!</p>
        </tbody>
    </table>
</div>