<nav class="navbar navbar-expand-md navbar-light bg-light subcomponent-navbar">
        <a class="navbar-brand" id="primary-title" routerLink="/admin/users">Users</a>
        <div class="navbar-collapse">
            <div class="navbar-nav">
                <div class="nav-item nav-link">All users</div>
                <div class="nav-item nav-link">Create user</div>
                <div class="nav-item nav-link">Update a user</div>
            </div>
        </div>
    </nav>
<alert></alert>
<div class="container-fluid table-responsive" id="wrapper">
    <table id="employee-table" class="table-hover" style="width: 100%">
        <thead>
            <tr class="d-flex">
                <th style="width: 11%">ID</th>
                <th style="width: 22%">Last Name</th>
                <th style="width: 22%">First Name</th>
                <th style="width: 12%"></th>
                <th style="width: 12%"></th>
                <th style="width: 21%">Dept.</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees" class="d-flex">
                <td style="width: 11%" class="border-right name-column">{{employee.id}}</td>
                <td style="width: 22%" class="border-right name-column">{{employee.lastName}}</td>
                <td style="width: 22%" class="border-right name-column">{{employee.firstName}}</td>
                <td style="width: 12%"><a (click)="openEditTaskDialog(task)" class="btn btn-primary btn-small">
                        <span class="fas fa-eye"></span>
                    </a></td>
                <td style="width: 12%"><a (click)="openDeleteTaskDialog(task)" class="btn btn-danger btn-small">
                        <span class="fas fa-times"></span>
                    </a></td>
                <td *ngIf="employee.dept" style="width: 21%" class="border-right name-column">{{employee.dept.name}}</td>
            </tr>
            <p *ngIf="employees==null" class="alert alert-danger">No employees found!</p>
        </tbody>
    </table>
</div>