.subcomponent-navbar
{
    border-bottom:2px solid darkslategray;
}

td {
    margin-right: 6px;
    margin-left: 6px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-link {
    cursor: pointer; 
}